body {
  line-height: 1;
  color: black;
  background: #ccc !important;
}
.mb60{
    margin-bottom: 60px;
}
h1{
    margin-top: 60px!important;
}
.wrapper{
    background: #fff;
    box-shadow: 0 0 6px 0 #6a6a6a;
    margin-top: 60px;
}
h1 span {
  display: block;
  font-size: 17px;
  font-style: italic;
  margin-top: 10px;
}
thead {
  background: none repeat scroll 0 0 #c6c6ff;
  color: #000000;
  font-weight: bold;
}
.btn-link{
    text-decoration: underline;
    color: #285e8e;
}
.btn-link.danger{
    color: red;
}
tbody tr td{
    vertical-align: middle !important;
}
.data-row input{
    width: 100%;
    border: 1px solid #e5e5e5;
}
.data-row input:disabled{
    background: none;
    border: none;
}